@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #36393e;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}